In [27]:
import pandas as pd

list_so1sky = pd.read_html('inbox/order_1852400050-202503.xls', header=0, skiprows=3)

df_so1sky = list_so1sky[0]

df_so1sky

,TANGGAL,JAM,NOMOR,SALESMAN ID,SALESMAN,KD OUTLET,OUTLET,ALAMAT,KD PRODUK,PRODUK,QTY,HARGA,SUB TOTAL,DISKON 1,DISKON 2,TOTAL,KET PROMO,REASON,KET ORDER
0,05-04-2025,'07:56,'16864511,MTASPTD02,DITA PUTRI WULANIA,MTASPT-MTA100137,ROCKET CHICKEN DI PANJAITAN,JL. D.I PANJAITAN NO.80,BJPAB600052,PAB 600 ML K24 SHORT NECK,12,43000,516000,0,0,516000,NaN,NaN,NaN
1,05-04-2025,'07:56,'16864511,MTASPTD02,DITA PUTRI WULANIA,MTASPT-MTA100137,ROCKET CHICKEN DI PANJAITAN,JL. D.I PANJAITAN NO.80,BJTBK250001,TBK 250 ML K24,10,64000,640000,0,0,640000,NaN,NaN,NaN
2,05-04-2025,'07:56,'16864511,MTASPTD02,DITA PUTRI WULANIA,MTASPT-MTA100137,ROCKET CHICKEN DI PANJAITAN,JL. D.I PANJAITAN NO.80,BJTBS220001,TBS 220 ML,6,57500,345000,0,0,345000,NaN,NaN,NaN
3,05-04-2025,'08:15,'16864591,MTASPTD01,SYAMSUL MUHADI,250204081415364M,RUMAH AL,JLN TIDAR BARU JALUR 5 NO 183B,BJTSE500001,Tebs PET 500ml K24 (TSE 500),12,145500,1746000,0,0,1746000,NaN,NaN,NaN
4,05-04-2025,'08:15,'16864591,MTASPTD01,SYAMSUL MUHADI,250204081415364M,RUMAH AL,JLN TIDAR BARU JALUR 5 NO 183B,BJTSE500001,Tebs PET 500ml K24 (TSE 500),1,145500,145500,145500,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,12-04-2025,'07:39,'16949302,MTASPTD01,SYAMSUL MUHADI,MTASPT-MTA100130,TOKO RAMA JAYA,JL ANTASARI / GUDANG KOPI SELATAN,BJTBE450001,Teh Botol Pet 450 ml K24 (TBE 450),30,123500,3705000,0,0,3705000,NaN,NaN,NaN
291,12-04-2025,'07:39,'16949302,MTASPTD01,SYAMSUL MUHADI,MTASPT-MTA100130,TOKO RAMA JAYA,JL ANTASARI / GUDANG KOPI SELATAN,BJTBE450001,Teh Botol Pet 450 ml K24 (TBE 450),2,123500,247000,247000,0,0,NaN,NaN,NaN
292,12-04-2025,'07:39,'16949302,MTASPTD01,SYAMSUL MUHADI,MTASPT-MTA100130,TOKO RAMA JAYA,JL ANTASARI / GUDANG KOPI SELATAN,BJTSE500001,Tebs PET 500ml K24 (TSE 500),24,145500,3492000,0,0,3492000,NaN,NaN,NaN
293,12-04-2025,'07:39,'16949302,MTASPTD01,SYAMSUL MUHADI,MTASPT-MTA100130,TOKO RAMA JAYA,JL ANTASARI / GUDANG KOPI SELATAN,BJTSE500001,Tebs PET 500ml K24 (TSE 500),2,145500,291000,291000,0,0,NaN,NaN,NaN
294,12-04-2025,'14:20,'16959917,MTASPTD02,DITA PUTRI WULANIA,MTASPT-MTA100145,KEBAB RIZKY,JL. JERUK 1 (DEPAN GOR BULU TANGKIS),BJSTK200001,Stee Kotak 200 ml (STK 200),10,40000,400000,0,0,400000,NaN,NaN,Antar + Tagihan

In [28]:
df_template = pd.read_table('template/exportmotasates.txt')

df_template

,Nd6tran,SalesInvoice,Attribute,SalesmanId,SalesOrderNumber,SalesOrderDate,InvoiceNumber,InvoiceDate,Term,SoldToCustomerId,...,LineDiscount1,LineDiscount2,LineDiscount3,LineDiscount4,LineDiscount5,CompanyId,BranchId,DivisionId,WarehouseId,ManualPonumber
0,ND6TRAN,salesinvoice,value,SMBM2014,BJR25APR0327,09/04/2025,BJR25APR0327,09/04/2025,0,PLH2193,...,0,0,0,0,0,NS6022050001143,1.480910e+12,1.481610e+12,alokasi,NaN
1,ND6TRAN,salesinvoice,value,SMBM2014,BJR25APR0327,09/04/2025,BJR25APR0327,09/04/2025,0,PLH2193,...,0,0,0,0,0,NS6022050001143,1.480910e+12,1.481610e+12,alokasi,NaN
2,ND6TRAN,salesinvoice,value,SMBM2014,BJR25APR0327,09/04/2025,BJR25APR0327,09/04/2025,0,PLH2193,...,0,0,0,0,0,NS6022050001143,1.480910e+12,1.481610e+12,alokasi,NaN

In [35]:
list_so = df_template.to_dict('records')
type(list_so[0])

df_so1sky

for index, so1sky in df_so1sky.iterrows():
  print(index)
  print(so1sky['SALESMAN ID'])
  list_so.append({
    "Nd6tran": "ND6TRAN",
    "SalesInvoice": "salesinvoice",
    "Attribute": "value",
    "SalesmanId": so1sky['SALESMAN ID'],
    "SalesOrderNumber": so1sky['NOMOR'],
    "SalesOrderDate": so1sky['TANGGAL'],
    "InvoiceNumber": so1sky['NOMOR'],
    "InvoiceDate": so1sky['TANGGAL'],
    "Term": 0,
    "SoldToCustomerId": so1sky['KD OUTLET'],
    "SentToCustomerId": so1sky['KD OUTLET'],
    "InvoicedToCustomerId": so1sky['KD OUTLET'],
    "CustomerPo": "",
    "SellingTyper": "TO",
    "DocumentType": "",
    "CashPayment": 0,
    "GiroPayment": 0,
    "GiroNumber": "",
    "GiroBank": "",
    "GiroDue": "",
    "AdjustmentAmount": 0,
    "Discount1": so1sky['DISKON 1'],
    "Discount2": so1sky['DISKON 2'],
    "Discount3": 0,
    "Tax1": 11,
    "Tax2": 0,
    "Tax3": 0,
    "ProductCode": so1sky['KD PRODUK'],
    "ProductVarianCode": "-",
    "QtySold": so1sky['QTY'],
    "QtyFreeGood": 0,
    "SellingPrice": so1sky['TOTAL'],
    "LineDiscount1": 0,
    "LineDiscount2": 0,
    "LineDiscount3": 0,
    "LineDiscount4": 0,
    "LineDiscount5": 0,
    "CompanyId": "tanya",
    "BranchId": "tanya",
    "DivisionId": "tanya",
    "WarehouseId": "alokasi",
    "ManualPonumber": ""
    })
  
print(length(list_so))

0
MTASPTD02
1
MTASPTD02
2
MTASPTD02
3
MTASPTD01
4
MTASPTD01
5
MTASPTD02
6
MTASPTD02
7
MTASPTD02
8
MTASPTD02
9
MTASPTD02
10
MTASPTD02
11
MTASPTD02
12
MTASPTD02
13
MTASPTD02
14
MTASPTD02
15
MTASPTD02
16
MTASPTD02
17
MTASPTD02
18
MTASPTD02
19
MTASPTD02
20
MTASPTD02
21
MTASPTD02
22
MTASPTD02
23
MTASPTD02
24
MTASPTD02
25
MTASPTD02
26
MTASPTD01
27
MTASPTD01
28
MTASPTD01
29
MTASPTD01
30
MTASPTD01
31
MTASPTD01
32
MTASPTD01
33
MTASPTD01
34
MTASPTD01
35
MTASPTD01
36
MTASPTD01
37
MTASPTD01
38
MTASPTD01
39
MTASPTD01
40
MTASPTD01
41
MTASPTD01
42
MTASPTD01
43
MTASPTD01
44
MTASPTD01
45
MTASPTD01
46
MTASPTD01
47
MTASPTD01
48
MTASPTD01
49
MTASPTD01
50
MTASPTD01
51
MTASPTD01
52
MTASPTD01
53
MTASPTD01
54
MTASPTD01
55
MTASPTD01
56
MTASPTD01
57
MTASPTD02
58
MTASPTD02
59
MTASPTD02
60
MTASPTD02
61
MTASPTD02
62
MTASPTD02
63
MTASPTD02
64
MTASPTD02
65
MTASPTD01
66
MTASPTD01
67
MTASPTD02
68
MTASPTD02
69
MTASPTD02
70
MTASPTD02
71
MTASPTD02
72
MTASPTD01
73
MTASPTD01
74
MTASPTD01
75
MTASPTD01
76
MTASPTD01
77
MTASPTD02
78
MTASPTD02
79
MTASPTD02
80
MTASPTD02
81
MTASPTD02
82
MTASPTD02
83
MTASPTD02
84
MTASPTD02
85
MTASPTD02
86
MTASPTD01
87
MTASPTD01
88
MTASPTD01
89
MTASPTD01
90
MTASPTD01
91
MTASPTD01
92
MTASPTD01
93
MTASPTD01
94
MTASPTD01
95
MTASPTD01
96
MTASPTD01
97
MTASPTD01
98
MTASPTD01
99
MTASPTD01
100
MTASPTD01
101
MTASPTD01
102
MTASPTD01
103
MTASPTD02
104
MTASPTD02
105
MTASPTD02
106
MTASPTD02
107
MTASPTD02
108
MTASPTD02
109
MTASPTD02
110
MTASPTD02
111
MTASPTD02
112
MTASPTD02
113
MTASPTD02
114
MTASPTD02
115
MTASPTD02
116
MTASPTD02
117
MTASPTD02
118
MTASPTD02
119
MTASPTD01
120
MTASPTD01
121
MTASPTD02
122
MTASPTD02
123
MTASPTD02
124
MTASPTD01
125
MTASPTD01
126
MTASPTD01
127
MTASPTD01
128
MTASPTD01
129
MTASPTD01
130
MTASPTD01
131
MTASPTD01
132
MTASPTD01
133
MTASPTD01
134
MTASPTD01
135
MTASPTD01
136
MTASPTD01
137
MTASPTD01
138
MTASPTD01
139
MTASPTD01
140
MTASPTD01
141
MTASPTD01
142
MTASPTD01
143
MTASPTD01
144
MTASPTD01
145
MTASPTD01
146
MTASPTD01
147
MTASPTD01
148
MTASPTD01
149
MTASPTD01
150
MTASPTD01
151
MTASPTD01
152
MTASPTD01
153
MTASPTD01
154
MTASPTD01
155
MTASPTD01
156
MTASPTD01
157
MTASPTD01
158
MTASPTD01
159
MTASPTD01
160
MTASPTD01
161
MTASPTD01
162
MTASPTD01
163
MTASPTD01
164
MTASPTD01
165
MTASPTD01
166
MTASPTD01
167
MTASPTD01
168
MTASPTD01
169
MTASPTD01
170
MTASPTD01
171
MTASPTD02
172
MTASPTD01
173
MTASPTD01
174
MTASPTD01
175
MTASPTD01
176
MTASPTD01
177
MTASPTD01
178
MTASPTD01
179
MTASPTD01
180
MTASPTD01
181
MTASPTD01
182
MTASPTD01
183
MTASPTD01
184
MTASPTD01
185
MTASPTD01
186
MTASPTD02
187
MTASPTD02
188
MTASPTD02
189
MTASPTD02
190
MTASPTD02
191
MTASPTD02
192
MTASPTD02
193
MTASPTD02
194
MTASPTD02
195
MTASPTD02
196
MTASPTD02
197
MTASPTD02
198
MTASPTD02
199
MTASPTD02
200
MTASPTD02
201
MTASPTD02
202
MTASPTD02
203
MTASPTD02
204
MTASPTD01
205
MTASPTD01
206
MTASPTD01
207
MTASPTD01
208
MTASPTD01
209
MTASPTD01
210
MTASPTD01
211
MTASPTD01
212
MTASPTD01
213
MTASPTD01
214
MTASPTD02
215
MTASPTD02
216
MTASPTD02
217
MTASPTD01
218
MTASPTD01
219
MTASPTD01
220
MTASPTD01
221
MTASPTD01
222
MTASPTD01
223
MTASPTD01
224
MTASPTD01
225
MTASPTD01
226
MTASPTD01
227
MTASPTD01
228
MTASPTD01
229
MTASPTD01
230
MTASPTD01
231
MTASPTD01
232
MTASPTD01
233
MTASPTD01
234
MTASPTD01
235
MTASPTD01
236
MTASPTD01
237
MTASPTD01
238
MTASPTD01
239
MTASPTD01
240
MTASPTD01
241
MTASPTD01
242
MTASPTD01
243
MTASPTD01
244
MTASPTD02
245
MTASPTD02
246
MTASPTD01
247
MTASPTD01
248
MTASPTD01
249
MTASPTD01
250
MTASPTD02
251
MTASPTD02
252
MTASPTD02
253
MTASPTD02
254
MTASPTD02
255
MTASPTD02
256
MTASPTD02
257
MTASPTD02
258
MTASPTD02
259
MTASPTD02
260
MTASPTD02
261
MTASPTD02
262
MTASPTD02
263
MTASPTD01
264
MTASPTD01
265
MTASPTD01
266
MTASPTD01
267
MTASPTD01
268
MTASPTD01
269
MTASPTD01
270
MTASPTD01
271
MTASPTD01
272
MTASPTD01
273
MTASPTD01
274
MTASPTD01
275
MTASPTD01
276
MTASPTD01
277
MTASPTD01
278
MTASPTD01
279
MTASPTD01
280
MTASPTD01
281
MTASPTD01
282
MTASPTD01
283
MTASPTD01
284
MTASPTD01
285
MTASPTD01
286
MTASPTD01
287
MTASPTD01
288
MTASPTD01
289
MTASPTD01
290
MTASPTD01
291
MTASPTD01
292
MTASPTD01
293
MTASPTD01
294
MTASPTD02

NameError: name 'length' is not defined